@import url('../public/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Noto+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: rgba(91,33,182);
}

::selection {
  color: rgba(91,33,182);
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.anchors{
  margin-left: 20px;
}

.homepage{
  display: flex;
}

.footer{
  margin-top: 195px;
}

.footer p{
  text-align: center;
}

.SearchBox{
  border: 2px solid rgb(90, 89, 89);
  border-radius: 20px;
  margin-right: 20px;
  width: 400px;
  height: 40px;
  outline: none;
}

.title{
font-family: 'Lato', sans-serif;
padding-bottom: 8px;
}

.sub-title{
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 8px;
}

.butn-primary{
  border-radius: 50px;
  padding: 10px 15px;
  border: 1px solid black;
  color: rgba(91,33,182);
  font-weight: bold;
  outline: none;
}

.butn-primary:hover{
  background-color: rgba(91,33,182);
  color: white;
  border: 1px solid white;

}
.content{
  margin-top: 175px;
}
.dataabouturl{
margin-top: 90px;
margin-left: 140px;
}